.clientCarousel {
    display: flex;
    padding: 20px;
    justify-content: center;
    min-width: 1380px;
}
.clientsLine {
    display: flex;
    height: 4px;
    border: 0;
    text-align: center;
    border-top: 1px solid grey;
    margin: 1em 0;
    padding: 0;
    width: 275px;
    color: #0f3d7e;
}
.rec .rec-carousel-item-visible {
    padding:"10px"
}

@media screen and (max-width:1320px) {
    .clientCarousel {
        min-width: 1160px;
    }
}
@media screen and (max-width:1200px) {
    .clientCarousel {
        min-width: 1024px;
    }
}
@media screen and (max-width:1024px) {
    .clientCarousel {
        min-width: 780px;
    }
}
@media screen and (max-width:820px) {
    .clientCarousel {
        min-width: 640px;
    }
}
@media screen and (max-width:480px) {
    .clientCarousel {
        min-width: 360px;
        margin-left: -54px;
    }
}
@media screen and (max-width:385px) {
    .clientCarousel {
        min-width: 348px;
        margin-left: -54px;
    }
}